body {
  font-family: "Segoe UI", "Noto Sans TC", sans-serif;
}
h1, h2 {
   text-align: center;
}
.container {
  margin-top: 70px;
}
#navbar {
  transition: 0.4s;
}

.navbar-dark .navbar-nav .nav-link {
  color: #9edce6;
}
.notation {
  margin-top: 1.5rem;
}

#notation {
  width: 50vw;
  margin: 0 auto;
}

#notation.hidden {
  display: none;
}

.comment_board {
  width: 70%;
  margin: 0 auto;
}

.comment_board_input {
  width: 100%;
}

.alert-info{
  text-align: center;
}

/* .comment_board_input > input[type="hidden"] {
  display: none;
} */


.cancel-text {
  margin-bottom: 1.1rem;
  display: block;
}

.message__edite.hidden {
  display: none;
}

.message textarea, .comment_board textarea {
  border-radius: 4px;
  padding: 0.5em;
}

.message {
  margin-top: 8px;
}
.message.child_message {
  margin-top: 5px;
  /* float: right; */
}

.card-body {
  /* overflow: auto; */
  /* _width : 100%; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* clear : left;
  content : '.';
  display : block;
  height : 0;
  overflow : hidden; */
  /* clear: both; */
}

.btn {
  /* background-color: var(--dark); */
  /* color: var(--white); */
}
.btn.icon {
  color: var(--secondary);
  background: none;
}

.btn.icon:hover {
  color: black;
}

.messages {
  width: 70%;
  margin: 0 auto;
}

.message__time {
  margin-bottom: 0;
  line-height: 1.7em;
}

.message__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 0.5rem;
}

.message__content {

}

.message.child_message {
  align-self: flex-end;
  width: 75%;
}
.message.child_message.author {
  align-self: flex-start;
}
.message__nickname, .message__time {
  display: inline-block;
}

.btn.add_btn {
  align-self: flex-end;
  /* float: right; */
}
.btn.icon {
  /* padding: 0; */
  outline: none;
  /* margin-top: -24px; */
  box-shadow: none;
}

.messages .icon.edite__send_btn {
  /* display: inline-block; */
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translate(-50%, -3px);
  padding: 0;

}

.icon.edite__send_btn {
  padding: 0;
}

.icon.edite_btn, .icon.delete_btn {
  padding: 0px;
  margin-left: 5px;
}

.message__edite {
  /* margin-top: -24px; */
}


.icon::before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  font-size: 14px;
  
}
.edite_btn.icon::before,.edite_permission_btn.icon::before {
  content: "\f044";
}

.delete_btn.icon::before {
  content: "\f2ed";
}

.add_btn.icon::before {
  content: "\f0fe";
}

.edite__send_btn.icon::before {
  content: "\f0c7";
  font-size: 30px;
}

.edite__user > .edite__send_btn {
  margin: 0 auto;
}
.edite__user > .edite__send_btn {
  display: inline-block;
}
.edite__user > .edite__send_btn.icon::before {
  font-size: 14px;
}

.edite__user {
  margin-block-end: 0em;
}

.table-info th, .table-info td, .table-info thead th, .table-info tbody+tbody {
  border-color: #86cfda;
  border-bottom: 1px solid #86cfda;
}

.users_table {
  margin: 0 auto;
  width: 500px;
  /* border:1px solid #000;  */
  /* font-family: sans-serif;;  */
  /* font-size:16px;  */
  /* border:1px solid #000; */
  text-align:center;
  /* border-collapse:collapse; */
}

.users_table select {
  background: #17a2b8;
  color: var(--light);
}

.user_table__th { 
  background-color: #065c74;
  padding:10px;
  /* border:1px solid #000; */
  color:#fff;
} 


th.user_table__td { 
  text-align: center;
  /* border:1px solid #000; */
  padding:5px;
} 

.user_table__td {
  background: #a6e7f1;
}

.user_table__td > .message__edite {
  justify-content: space-around;
}

.cancel_notation {
  text-align: center;
  /* width: 12rem; */
  /* margin: 0 auto; */
}
/* .edite__user > select {
  background : black;
} */


/* .navbar-nav {
  width: 100%;
  position: relative;
} */
/* .nav-item-logout {
  display: inline-block;
  float: right;
} */

.username.icon::before {
  content: "\f007";
}
.password.icon::before {
  content: "\f084";
}

.nickname.icon::before {
  content: "\f21b";
}

.icon::before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  font-size: 14px;
  
}

form > button[type="submit"] {
  display: block;
  margin: 0 auto;
}

.form-register, .form-login {
  width: 50%;
  margin: 0 auto;
}


@media (max-width: 768px) {
  .messages, .comment_board {
    width: 100%;
  }

  .message.child_message {
    width: 85%;
  }
  .form-register, .form-login {
    width: 85%;
  }
}

@media (max-width: 425px) {
  .message.child_message {
    width: 90%;
  }
  .form-register, .form-login {
    width: 90%;
  }
}