body, button, pre {
  font-family:  "Neucha", "Noto Sans TC", sans-serif;
}
h1, h2 {
   text-align: center;
}
.container {
  margin-top: 70px;
}

.comment_board {
  width: 70%;
  margin: 0 auto;
}
/* user ajax notation */
#notation {
  width: 50vw;
  margin: 0 auto;
}
/* ajax alert */
.alert-info{
  text-align: center;
}
#process {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
/* form */
.form-register, .form-login {
  width: 50%;
  margin: 0 auto;
}
/* nav */
#navbar {
  transition: 0.4s;
}
.navbar-dark .navbar-nav .nav-link {
  color: #9edce6;
}
/* textarea */
.message textarea, .comment_board textarea {
  border-radius: 4px;
  padding: 0.5em;
  outline: none;
}
.message textarea:focus, .comment_board textarea:focus {
  box-shadow: 0 0 0 0.2rem rgba(23,162,184,0.5);
}
/* messages */
.messages {
  width: 70%;
  margin: 0 auto;
}
.message pre {
  border: none;
  border-color:rgb(134, 142, 150);
  font-size: 1rem;
  font-weight: 400;
}
.message__nickname, .message__time {
  display: inline-block;
}
.message.child_message {
  align-self: flex-end;
  width: 75%;
}
.message {
  margin-top: 8px;
}
.message.child_message {
  margin-top: 5px;
}
.message.child_message.author {
  align-self: flex-start;
}
/* message on editing */
.child_message .cancel-text {
  margin-bottom: 1.1rem;
  display: block;
}

.message__edite.hidden {
  display: none;
}
/* message for boostrap */
.card-body {
  display: flex;
  flex-direction: column;
}
/* login register icon */
.icon::before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  font-size: 14px;
}
.username.icon::before {
  content: "\f007";
}
.password.icon::before {
  content: "\f084";
}
.nickname.icon::before {
  content: "\f21b";
}
/* icon btn */
.edite_btn.icon::before,.edite_permission_btn.icon::before {
  content: "\f044";
}
.delete_btn.icon::before {
  content: "\f2ed";
}
.add_btn.icon::before {
  content: "\f0fe";
}
.edite__send_btn.icon::before {
  content: "\f0c7";
  font-size: 30px;
}
.btn.icon {
  color: var(--secondary);
  background: none;
  outline: none;
  box-shadow: none;
}
.btn.icon:active {
  color: #17a2b8;
  box-shadow: 0 0 0 0.2rem rgba(23,162,184,0.5);
}
.btn.icon:hover {
  color: #17a2b8;
}
.icon.edite__send_btn {
  padding: 0 5px;
}
.icon.edite_btn, .icon.delete_btn {
  padding: 0px;
  margin-left: 5px;
}
.btn.add_btn {
  align-self: flex-end;
  padding: 0.05rem 0.2rem;
  margin-top: 0.25rem;
}
/* icon send_btn in message message */
.message .icon.edite__send_btn {
  margin-top: -1.5rem
}
/* icon send_btn in child message */
.child_message .icon.edite__send_btn {
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  transform: translate(-50%, -3px);
  padding: 0 5px;
}
/* icon send_btn in user */
.edite__user > .edite__send_btn {
  margin: 0 auto;
  display: inline-block;
}
.edite__user > .edite__send_btn.icon::before {
  font-size: 14px;
}
/* user table boostrap */
.table-info th, .table-info td, .table-info thead th, .table-info tbody+tbody {
  border-color: #86cfda;
  border-bottom: 1px solid #86cfda;
}
.users_table {
  margin: 0 auto;
  width: 500px;
  margin-top: -20px;
  text-align:center;
}
.user_table__th { 
  background-color: #065c74;
  padding:10px;
  color:#fff;
} 
th.user_table__td { 
  text-align: center;
  padding:5px;
}
.user_table__td {
  background: #a6e7f1;
}
.user_table__td > .message__edite {
  justify-content: space-around;
}
.users_table .edite__user {
  margin-block-end: 0em;
}
.users_table .edite__user select {
  background: #17a2b8;
  color: var(--light);
}
.cancel_notation {
  text-align: center;
}

form > button[type="submit"] {
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .messages, .comment_board {
    width: 100%;
  }
  .message.child_message {
    width: 85%;
  }
  .form-register, .form-login {
    width: 85%;
  }
}
@media (max-width: 425px) {
  .message.child_message {
    width: 90%;
  }
  .form-register, .form-login {
    width: 90%;
  }
}